<template>
  <v-container
      fluid
      class="d-flex align-center justify-center " :style="{ height: '530px'}"
      style="background: #229191; background-size: cover"
  >
    <div>
      <h1>Welcome</h1>
      <button >Logout</button>
    </div>
  </v-container>

</template>

<script>


export default {

}


</script>

<style scoped>

</style>