<template>
  <v-container
      fluid
      class="d-flex align-center justify-center " :style="{ height: '530px'}"
      style="background: #229191; background-size: cover"
  >
    <v-sheet width="300" class="mx-auto" color="#229191">
      <v-form fast-fail @submit.prevent>
        <v-text-field
            v-model="username"
            label="Логин"
            :rules="firstNameRules"
        ></v-text-field>
        <v-text-field
            v-model="password"
            label="Пароль"
            :rules="lastNameRules"
        ></v-text-field>
        <v-btn type="submit" block class="mt-2" size="x-large" @click="login">Вход</v-btn>
      </v-form>
    </v-sheet>
  </v-container>
</template>

<script>
import { ref } from 'vue';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';

export default {
  name: 'Login',

  data: () => ({

    username: '',
    firstNameRules: [
      value => {
        if (value?.length > 3) return true

        return 'First name must be at least 3 characters.'
      },
    ],
    password: '',
    lastNameRules: [
      value => {
        if (value?.length > 3) return true

        return 'Last name can not contain digits.'
      },
    ],

  }),

  setup() {
    const username = ref('');
    const password = ref('');

    const store = useStore();
    const router = useRouter();

    const login = () => {
      store.dispatch('login', { username: username.value, password: password.value })
          .then(() => {
            router.push({ name: 'Home' });
          })
          .catch(() => {
            console.error('Login error');
          });
    };

    const cancel = () => {
      router.push({ name: 'Home' });
    };

    return {
      username,
      password,
      login,
      cancel,
    };
  },

}


</script>

<style scoped>

</style>