<template>
  <v-container
      fluid
      class="d-flex align-center justify-center " :style="{ height: '530px'}"
      style="background: #229191; background-size: cover"
  >
    <v-sheet width="300" class="mx-auto" color="#229191">
      <v-form @submit.prevent="register">
        <v-text-field
            v-model="username"
            label="Username"
            :rules="firstNameRules"
        ></v-text-field>
        <v-text-field
            v-model="password"
            label="Password"
            :rules="lastNameRules"
        ></v-text-field>
        <v-btn type="submit" block class="mt-2" size="x-large" @click="snackbar = false">Зарегистрироваться</v-btn>
        <v-snackbar
            v-model="snackbar"
        >
          {{ text }}

          <template v-slot:actions>
            <v-btn
                color="pink"
                variant="text"
                @click="snackbar = false"
            >
              Close
            </v-btn>
          </template>
        </v-snackbar>
      </v-form>
    </v-sheet>
  </v-container>
</template>

<script>
import { ref } from 'vue';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';


export default {
  name: 'SingUp',

  data: () => ({

    username: '',
    firstNameRules: [
      value => {
        if (value?.length > 3) return true

        return 'First name must be at least 3 characters.'
      },
    ],
    password: '',
    lastNameRules: [
      value => {
        if (value?.length > 3) return true

        return 'Last name can not contain digits.'
      },
    ],
    snackbar: false,
    text: ``,
  }),

  setup() {
    const username = ref('');
    const password = ref('');

    const store = useStore();
    const router = useRouter();

    const register = () => {
      store.dispatch('register', { username: username.value, password: password.value })
          .then(() => {
            router.push({ name: 'Login' });
          })
          .catch(error => {
            if (error.response && error.response.status === 401) {
              // Пользователь с таким именем уже существует
              // Выводим всплывающее сообщение
              this.snackbar = true;
              this.text = 'Пользователь с таким именем уже существует';
            } else {
              console.error('Sing error', error);
            }
          });
    };

    const cancel = () => {
      router.push({ name: 'Login' });
    };

    return {
      username,
      password,
      register,
      cancel,

    };
  },

}


</script>


<style lang="scss" scoped>





</style>
