<template>
  <v-footer class="bg-grey-lighten-1" color="surface-variant">
    <v-row justify="center" no-gutters>
      <v-btn
          v-for="link in links"
          :key="link"
          color="white"
          variant="text"
          class="mx-2"
          rounded="xl"
      >
        {{ link }}
      </v-btn>
      <v-col class="text-center mt-4" cols="12">
        <span class="footer-year">{{ new Date().getFullYear() }} -- Unigap</span>
<!--        <span class="footer-vuetify">Vuetify</span>-->
      </v-col>
    </v-row>
  </v-footer>
</template>

<script>
export default {
  data: () => ({
    links: [
      'Home',
      'About Us',
      'Team',
      'Services',
      'Blog',
      'Contact Us',
    ],
  }),
}
</script>

<style>

/*.grey-lighten-1 {*/
/*  height: auto;*/
/*}*/

.bg-grey-lighten-1 {
  height: 100px;
}



</style>