<template>
  <v-card>
    <v-toolbar color="surface-variant" rounded="0">
      <img class="ml-4" src="@/assets/icons/svg1.svg">
      <v-toolbar-title><a href="/">IT bank</a></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn class="text-subtitle-2 mr-6 hover" size="small"
             variant="flat"
             @click="$router.push('/login')"
      >
        Вход
      </v-btn>
      <v-btn
          class="text-subtitle-2 mr-4 hover"
          size="small"
          variant="flat"
          @click="$router.push('/sing')"
      >
        Регистрация
      </v-btn>
    </v-toolbar>
  </v-card>
</template>

<script>


export default {

};

</script>

<style>

.hover:hover {
  color: #00bf00;
}

a {
  color: white;
}




</style>