<template>
  <v-container
      fluid
      class="d-flex align-center justify-center " :style="{ height: '530px'}"
      style="background-image: url('/img/material.jpg'); background-size: cover"
  >
    <div class="text-center">
      <h1 class="align-center justify-center ">
        <span style="text-align: justify">Цифровой IT bank</span>
        <br>
        <span class="mt-4" style="opacity: 1; transform: none;">
        нового поколения!</span>
        <p class="mt-4" style="opacity: 1; transform: none;">Управляйте вашими онлайн-финансами быстро, эффективно и&nbsp;с&nbsp;минимальными&nbsp;комиссиями.</p>
      </h1>
      <v-col cols="auto">
        <v-btn class="mx-auto mb-14" color="#00ffff" size="x-large" @click="$router.push('/sing')">Стать клиентом</v-btn>
      </v-col>
    </div>
  </v-container>
</template>

<script>




export default {





}


</script>

<style>

/** {*/
/*  padding: 0;*/
/*  margin: 0;*/
/*}*/

  h1 {
    font-size: 6rem;
    line-height: 96px;
    letter-spacing: -.05em;
    font-weight: 300;
    color: #fff;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/

  }

 @media (max-width: 768px) {
   h1 {
     font-size: 4rem;
     text-align: left;
   }



 }

v-container {
  text-align: justify;
}

p {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -.02em;
}

.text-center {
  display: flex; /* устанавливаем контейнеру свойство flex */
  flex-direction: column; /* элементы располагаются в колонку */
  justify-content: flex-end; /* элементы выравниваются по вертикали внизу */
  align-items: center; /* элементы выравниваются по горизонтали по центру */
  height: 100%; /* устанавливаем высоту контейнера равной 100% */
}

/*@media (max-width: 600px) {*/
/*  .full-width-btn {*/
/*    width: 100%;*/
/*  }*/
/*}*/









</style>